<div class="contents__main-contents__body">
  <% @messages.each do | mes | %>
    <div class = "contents__main-contents__body__space3"></div>
    <div class = "contents__main-contents__body__text">
      <div class = "contents__main-contents__body__text__user"><%= mes.user.name %></div>
      <div class = "contents__main-contents__body__text__time"><%= mes.created_at%></div>
      <div class = "contents__main-contents__body__text__message"><%= mes.content%></div>
    </div>
  <% end %>
</div>

