.contents__main-contents__body
  - @messages.each do | mes |
    .contents__main-contents__body__border
    .contents__main-contents__body__space3
    .contents__main-contents__body__text
      .contents__main-contents__body__text__user
        = mes.user.name
      .contents__main-contents__body__text__time
        = mes.created_at
      .contents__main-contents__body__text__message
        = mes.content



/ .contents__left-contents__groupform
/   - current_user.groups.each do |group|
/     =link_to group_messages_path(group) do
/       .contents__left-contents__groupform__group
/         = group.name
/       .contents__left-contents__groupform__group__text 投稿は特にありません。
