.contents__main-contents__body
  .contents__main-contents__body__space3
  .contents__main-contents__body__text
    .contents__main-contents__body__text__user= message.user.name
    .contents__main-contents__body__text__time= message.created_at
    .contents__main-contents__body__text__message= message.content


