.chat-group-form
  %h1 チャットグループ編集
  = form_for [@group], class: "edit_chat_group" do |f|
    / .chat-group-form__field.clearfix
    /   .chat-group-form__field--left
    = f.label class: 'chat-group-form__label', "グループ名"




      / .chat-group-form__field--right
      /   = f.input :name ,class: 'chat-group-form__input', placeholder: 'グループ名を入力してください'
    / .chat-group-form__field.clearfix
