.contents__left-contents__groupform
  - current_user.groups.each do |group|
    .contents__left-contents__groupform__group
      = group.name
    .contents__left-contents__groupform__group__text さようなら



/ .contents__left-contents__groupform
/   .contents__left-contents__groupform__group test-group
/   .contents__left-contents__groupform__group__text さようなら
