
@import "./reset";
@import "./config/enviroment";
@import "./modules/leftContents";
@import "./modules/mainContents";
@import "./modules/user"

.header{
  background-color: $siteMainBlue;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

