
@import "reset";

.header{
  background-color: #38AEF0;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.contents{

    &__left-contents{
      width: 300px;
      height: 100vh;
      background-color: red;
      color: #fff;
      font-weight: bold;
      display: inline-block;

        &__userform{
          height: 100px;
          background-color: #253141;

            &__user {
              color: #fff;
              width: 180px;
              font-size: 16px;
              padding: 38px 0 0 20px;
              display: inline-block;
            }

            &__font {
              color: #fff;
              font-size: 15px;
              padding: 0 20px;
              display: inline-block;
            }
        }

      &__groupform {
       height: calc(100vh - 100px);
       background-color: #2f3e51;

        &__group{
          font-size: 15px;
          padding: 20px 20px 5px ;

          &__text{
            font-size: 11px;
            padding: 0 20px;
          }
        }
      }
    }


    &__main-contents {
      background-color: #fafafa;
      width: calc(100vw - 300px);
      height: 100vh;
      float: right;

    //  メインコンテンツーヘッダ
          &__main-header{
              height: 98px;
              width:  calc(100vw - 300px);

                &__link{
                    color: #38AEF0;
                    float: right;
                    display: inline-block;


                    &__box{
                      font-size: 16px;
                      // line-height: 40px;
                      border: solid 1px #38AEF0;
                      margin: 15px 15px 0 0;
                      padding: 10px 10px;
                    }
                }

                &__space{
                    width: 100px;
                    height: 35px;
                }

                &__group{
                    color: #333333;
                    font-size: 20px;
                    padding:0 40px;
                    display: inline-block;
                    clear: left;
                }
                &__space2{
                    height: 15px;
                }
                &__member{
                    color: #999999;
                    font-size: 12px;
                    padding:0 40px;
                }

          }

      // メインボディ

        &__body{
            height: calc(100vh - 190px);

              &__border{
                  background-color: #eeeeee;
                  height: 2px;
              }
              &__space3{
                  height: 46px;
              }
            &__text{
              width: 400px;
              padding: 0 40px;
                &__user{
                    font-size:  12px;
                    font-size: 20px;
                    color:      #999999;
                    display:inline-block;
                }
                &__time{
                    font-size:  12px;
                    color:      #999999;
                    display:inline-block;
                }
                &__message{
                    font-size:  15px;
                    color:      #999999;
              }
            }

        }

        //入力フォーム
        &__footter{
                width:  calc(100vw - 300px);
                height: 90px;
                background-color: #ddd;
                position: relative;

              &__form{

                &__input{
                    height: 50px;
                    margin-left: 40px;
                    margin-top:   20px;
                    width: 950px;
                    border-style: none;
                    }

                &__image{
                  font-size: 28px;
                  position: absolute;
                  top: 25px;
                  right: 180px;
                }

                &__button{
                    width: 100px;
                    height: 50px;
                    top:20px;
                    right: 40px;
                    line-height: 50px;
                    background-color: #38AEF0;
                    position: absolute;
                    display:inline-block;
                    text-align: center;
                    font-size: 16px;
                    color: white;
                    margin: auto;
                }

              }
        }


    }

}
